.card.drag
  .card-header
    Setting
    .float-right= link_to fa_icon('edit'), edit_user_setting_path(@user)
  .card-body
    %p
      background-image:
      = image_tag @setting.bg.url(:thumb), class: 'img-thumbnail'
    %p
      icon color:
      %span.icon-color(style="background-color: #{@setting.icon_color};")

