#flash {position:absolute;}

#main {
  width: 100%;
}

#desktop {
  padding: 20px;

  a {text-decoration: none;}

  .icon {
    width: 50px;
    i {
      font-size: 50px;
      color:white;
    }
  }

}



