@import 'mixins';

html, body {
  height: 100%;
  padding-bottom:40px;
}

#flash {position:absolute;}

#desktop {

  a {text-decoration: none;}

  .icon {
    width: 50px;
    text-shadow: none;
    @include transition(text-shadow .2s);

    i {
      font-size: 50px;
      color: white;
    }
    &:hover {
      text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
      @include transition(text-shadow .2s)
    }
  }
}

.icon-color {
  width:   20px;
  height:  20px;
  display: inline-block
}