@import 'mixins';

#flash {position:absolute;}

#main {
  width: 100%;
}

#desktop {
  padding: 20px;

  a {text-decoration: none;}

  .icon {
    width: 50px;
    text-shadow: none;
    @include transition(text-shadow .2s);

    i {
      font-size: 50px;
      color:white;
    }
    &:hover {
      text-shadow: 0px 0px 6px rgba(0,0,0,0.6);
      @include transition(text-shadow .2s)
    }
  }

}


